{% extends 'panel/base.html' %}
{% block content %}
<div class="bg-gray-900 m-4 md:m-32 md:mt-8 p-4 rounded-md flex-grow">
    <div class="flex flex-col justify-center h-full">
        <div class="flex flex-col md:flex-row w-full justify-center space-y-4 md:space-y-0 md:space-x-4">

            <a href="/add/choose_template"
               class="bg-gray-800 rounded-md p-8 text-center transition duaration-150 hover:transform hover:scale-105">
                <button>
                    <div class="flex flex-row justify-center md:w-52">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="play"
                             class="w-32 h-52 svg-inline--fa fa-play fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 448 512">
                            <path fill="currentColor"
                                  d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path>
                        </svg>
                    </div>

                    <p>Create from Template</p>
                </button>
            </a>
            <a href="/add/new"
               class="bg-gray-800 rounded-md p-8 text-center transition duaration-150 hover:transform hover:scale-105">
                <button>
                    <div class="flex flex-row justify-center md:w-52">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus"
                             class="w-32 h-52 svg-inline--fa fa-plus fa-w-14" role="img"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 448 512">
                            <path fill="currentColor"
                                  d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path>
                        </svg>
                    </div>

                    <p>Create container manually</p>
                </button>
            </a>
            <a href="/add/existing"
               class="bg-gray-800 rounded-md p-8 text-center transition duaration-150 hover:transform hover:scale-105">
                <button>
                    <div class="flex flex-row justify-center md:w-52">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plug"
                             class="w-32 h-52" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 384 512">
                            <path fill="currentColor"
                                  d="M320,32a32,32,0,0,0-64,0v96h64Zm48,128H16A16,16,0,0,0,0,176v32a16,16,0,0,0,16,16H32v32A160.07,160.07,0,0,0,160,412.8V512h64V412.8A160.07,160.07,0,0,0,352,256V224h16a16,16,0,0,0,16-16V176A16,16,0,0,0,368,160ZM128,32a32,32,0,0,0-64,0v96h64Z"></path>
                        </svg>
                    </div>

                    <p>Add existing container</p>
                </button>
            </a>


        </div>

    </div>
</div>
{% endblock %}

