{% extends 'panel/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="bg-gray-900 m-4 md:m-32 md:mt-8 p-4 rounded-md">
    <ul>
        {% for container in containers %}
        <li>
            <a href="{% url 'container' container.id %}">
                <button class="rounded-md p-8 pl-4 mt-4 bg-gray-700 w-full text-left">
                    {{ container.description }}
                </button>
            </a>
        </li>

        {% endfor %}
    </ul>
</div>
<!--<form action="{% url 'oidc_logout' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="logout">
</form>-->
{% else %}
<a href="{% url 'oidc_authentication_init' %}">Login</a>
{% endif %}
{% endblock %}

